.container {
    margin-top: 70px;
}

.header {
    text-align: center;
    font-size: 100px;
    background: linear-gradient(to right, #0eae71 20%, #FF8C00 35%, #d825ab 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}

.Todos {
    font-weight: bold;
    padding: 14px;
    border: 3px solid black;
    border-radius: 50px;
    width: fit-content;
}

.todo-add {
    width: 100%;
    margin-bottom: 50px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 20px;
    box-shadow: 1px 2px 12px 7px rgba(176,174,176,1);
    padding: 6px;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 20px;
}

.todo-add-btn {
    width: 12%; 
    border: 3px;
    border-radius: 16px;
    text-align: center;
}

.todo-fix {
    font-weight: bold;
    padding: 14px;
    border: 3px solid black;
    border-radius: 50px;
    width: fit-content;
    text-decoration: line-through;
    margin-left: 10px;
}

.todo-title {
    font-weight: bold;
    padding: 14px;
    border: 3px solid black;
    border-radius: 50px;
    width: fit-content;
    margin-left: 10px;
}

.btn-delete {
    width: fit-content;
    color: black;
}   

.icon {
    width: 100%;
    align-items: center;
    justify-content:center;
    padding: 10px;
    display: flex;
}

.icon-title {
    width: 100%;
}

.icon-btn {
    width:  10%;
}

.eror {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Not-Found {
    width: 25%;
}

.ups {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Robot';
    src: url(../src/assets/Robot.otf);
}